*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.container-fluid{
  width: 90%;
  margin: auto;
}
.responsive-table{

  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.3);
}
tr:hover{
  background-color: #64f070;
}
.thead-dark{
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: white;
}
td:hover{
  background-color: yellow;
}